<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="background-color: #2692df">
    <a class="navbar-brand" href="#">Learn It</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
        <li class="nav-item active">
          <a class="nav-Link" routerLinks="/products"> Products <span class="sr-only">(current)</span></a>
        </li>
        
        <ul class="navbar-nav flex-row ml-md-autod-none d-md-flex">

          <li class="nav-item" style="padding: 0 20px; font-size: 1.4em">
            <a class="nav-Link p-2" routerLink="/cart" style="color: #fff">
             <i class="fas fa-shopping-cart"></i> <span class="badge badge-Light" style="margin-left: 8px" *ngIf="cart.length">{{cart.length}}</span>
          </a>
        </li>
        
        </ul>

          
        
      
      

    </div>
  </nav>